<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action="/post/" method="post">
 	  {% csrf_token %}
 		<label for="user_name"> name: </label>
     <input id="user_name" type="text" name="user_name" >

 		<label for="user_email"> email: </label>
     <input id="user_email" type="text" name="user_email" >

 		<label for="user_stream">   stream: </label>
     <input id="user_stream" type="text" name="user_stream" >

 		<input type="submit" value="OK">
 </form>

<h1> All  Users and their email ids</h1>

#using for loop get all the details of user

{% for user in user_list %}
<div>
	<h4>{{user.id}}  <a href="/get/{{ user.id }}">{{user.user_name}}</a></h4>
	<h4>{{user.user_email}}</h4>
{% endfor %}
</div>

</body>
</html>
